<!-- <% layout("/layouts/boilerplate.ejs") -%>
<%= success %>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
<% for(let listing of allListings) { %>
<a href="/listings/<%= listing._id %>" class="listing-link" >
<div class="card col listing-card">
  <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
  <div class="card-img-overlay"></div>
  <div class="card-body">
    <p class="card-text mb-0">
      <strong>Title:</strong> <%= listing.title %><br>
      <strong>Description:</strong> <%= listing.description %><br>
      <strong>Price:</strong> ₹<%= listing.price %><br>
      <strong>Country:</strong> <%= listing.country %><br>
      </p>
  </div>
</div>
</a>
<% } %>
</div> -->
<div class="homepage-listings">
  <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-2 g-4">
    <% for(let listing of allListings) { %>
      <div class="col">
        <a href="/listings/<%= listing._id %>" class="text-decoration-none text-dark">
          <div class="card listing-card shadow-sm">
            <div class="image-wrapper">
              <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image">
            </div>
            <div class="card-body p-2">
              <h6 class="card-title fw-bold mb-1"><%= listing.title %></h6>
              <div class="d-flex justify-content-between align-items-center">
                <span class="price fw-bold">₹<%= listing.price %> / night</span>
                <span class="location text-muted"><i class="bi bi-geo-alt-fill"></i> <%= listing.country %></span>
              </div>
            </div>
          </div>
        </a>
      </div>
    <% } %>
  </div>
</div>






